body {
    background-color: azure;
}


.top {
    height: 10vh;
    width: 100vw;
}

.gameArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field{
    height: auto;
    width: 80vw;
}

.ana {
    height: 10vh;
    width: auto;
    position: absolute;
    top: 27%;
}

.ball {
    height: 7vh;
    width: auto;
    position: absolute;
    top: 62%;
}
.scoreboard {
    height: 40vh;
    width: 100vw;
}