body {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family: 'wedgieregular';
    src: url('wedgie.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

.top {
    height: 10vh;
    width: 100vw;
}

.gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vw;
    width: 100vw;
    background-image: url(assets/images/Background.svg);
}

.ana {
    height: auto;
    width: 7vw;
    position: relative;
    top: -8%;
}

.ball {
    height: 5vw;
    width: auto;
    position: relative;
    top: 33%;
}
.scoreboard {
    height: 40vh;
    width: 100vw;
}

.text {
    font-family: 'wedgieregular';
    font-size: larger;
}